$bodytext: #333333;
$grey: #D9D9D9;
$lightgrey: #F7F7F7;
$purple: #6666A4;
$blue: #73CEFF;
$green: #49D6BA;
$yellow: #FFD969;
$pink: #FA4B88;

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* General */
body {
	font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 300; /* 300, 400, 700 */
    text-align: left;
    color: $bodytext;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
	margin: 0;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 28px;
}
.huge {
	font-size: 19px;
}
h2 {
	font-size: 25px;
	line-height: 42px;
	margin-bottom: 130px;
	text-align: center;
	font-weight: 400;
}
h3 {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 400;
}
.subtitle {
	font-weight: 300;
	line-height: 24px;
	font-size: 14px;
}
p {
	margin-bottom: 30px;
}
ul {
	padding: 0;
	list-style: none;
}
li {
	margin-bottom: 16px;
}
b {
	font-weight: 400;
}
hr {
	background: $grey;
	margin: 0;
	border: 0;
	height: 1px;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
	text-align: center;
	padding: 20px 15px;
	font-weight: 400;
	border: none;
	vertical-align: middle!important;
}
.table > thead > tr > th,
.table > tbody > tr > th {
	text-align: right;
	font-weight: 300;
	white-space: nowrap;
}
.table > thead > tr:first-child > th,
.table > tbody > tr:first-child > th {
	border-top: 0;
	font-weight: 300;
	text-align: center;
}

/* Common */
.container {
	max-width: 1000px;
}
section, footer {
	padding-top: 100px;
	padding-bottom: 100px;
}
.hero {
	position: relative;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 100px 0;
}
.topbar {
	background: #fff;
	padding: 15px;
	width: 100%;
	border-bottom: 1px $grey solid;
}
.sticky-element {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
}
.logoholder {
	padding: 0;
}
.onlydesktop {
	display: none!important;
}
.onlymobile {
	display: inline-block!important;
}
.icon-menu-mobile {
	display: inline-block;
	width: 20px;
	height: 15px;
	background: url(../images/assets/MenuIconMobile.png) center center no-repeat;
	margin-top: 12px;
}
.icon-close-mobile {
	display: inline-block;
	width: 20px;
	height: 15px;
	background: url(../images/assets/CloseIconMobile.png) center center no-repeat;
	margin-top: 12px;
}
.invisible {
	visibility: visible;
	opacity: 0;
}
.stuck {

}
.menu-trigger {
	cursor: pointer;
}
.menu {
	display: none;
	text-align: left;
	width: 100%;
	height: 400px;
	overflow-y: scroll;
	margin-top: 30px;
	li a,
	li a:hover {
		color: $bodytext;
		text-decoration: none;
		font-size: 16px;
		font-weight: 700;
	}
	a:hover {
		color: $blue;
	}
	li.active a {
		color: $blue;
	}
	.submenu {
		display: block;
		border: 0px $grey solid;
	}
	.submenu li {
		margin: 0;
	}
	.submenu li a {
		font-weight: 300;
	}
}
.logo-holder {
	background: #fff;
	max-width: 300px;
	height: auto;
	margin: auto;
	padding: 30px;
}
.logo-holder h2 {
	margin-bottom: 0;
}
.separation-lines {
	display: none;
}
.separation-math {
	font-size: 56px;
	color: $green;
	margin: 40px 0;
}
.btn {
	display: inline-block;
	padding: 13px 65px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-align: center;
	border: 0;
}
.btn:hover,
.btn:focus {
	color: #fff;
}
.btn.green {
	background: $green;
}
.circle {
	text-indent: -30px;
	position: relative;
	left: 30px;
	padding-right: 30px;
}
.circle i {
	position: relative;
	top: 4px;
	right: 2px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 7px;
	border: 4px solid #ccc;
	border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}
.circle i.pink {
	border: 4px solid $pink;
}
.circle i.purple {
	border: 4px solid $purple;
}
.circle i.blue {
	border: 4px solid $blue;
}
.circle i.green {
	border: 4px solid $green;
}
.circle i.yellow {
	border: 4px solid $yellow;
}
.circle.center i {
	top: 12px;
}
.spot i {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	background-color: #ccc;
	border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-style: normal;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	line-height: 32px;
	text-indent: 1px;
	text-align: center;
}
.midspot i {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 7px;
	background-color: #ccc;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	font-style: normal;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	line-height: 40px;
	text-indent: 1px;
	text-align: center;
}
.bigspot {
	position: relative;
	padding-left: 70px;
}
.bigspot ul {
/* 	line-height: 60px; */
}
.bigspot ul li {
/* 	margin-left: 70px; */
}
.bigspot > i {
	position: absolute;
	left: 0px;
	float: left;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 14px;
	background-color: #ccc;
	border-radius: 30px;
	-o-border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	font-style: normal;
	font-family: 'Varela Round', sans-serif;
	color: #fff;
	line-height: 64px;
	text-indent: 2px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
}
.bigspot p {
	padding: 20px 0;
}
.whitebox .bigspot > i {
	top: 15px;
}
.spot i.pink,
.bigspot i.pink {
	background-color: $pink;
}
.spot i.blue,
.bigspot i.blue {
	background-color: $blue;
}
.spot i.green,
.bigspot i.green,
.midspot i.green {
	background-color: $green;
}
.spot i.yellow,
.bigspot i.yellow {
	background-color: $yellow;
}
.bigspot i.icon-dollar {
	background-image: url(../images/assets/icon-dollar.png);
}
.bigspot i.icon-plane {
	background-image: url(../images/assets/icon-plane.png);
}
.bigspot i.icon-user {
	background-image: url(../images/assets/icon-user.png);
}
.bigspot i.icon-twitter {
	background-image: url(../images/assets/icon-twitter.png);
}
.bigspot i.icon-email {
	background-image: url(../images/assets/icon-email.png);
}
.bluebox {
	background: $blue;
	padding: 40px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 60px;
}
.bluebox p {
	max-width: 800px;
	margin: auto;
}
.bluebox b {
	font-size: 24px;
}
.icon-check {
	background: url(../images/assets/icon-checkmark.png) center center no-repeat;
	position: relative;
	top: 8px;
}
.icon-check.green {
	display: inline-block;
	width: 26px;
	height: 20px;
	background: url(../images/assets/icon-checkmark-green.png) center center no-repeat;
	top: 0;
}
.nopadding {
	padding: 0px!important;
}
.icon-cross {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/assets/icon-cross.png) center center no-repeat;
	position: relative;
}
.icon-arrow-right {
	background: url(../images/assets/icon-arrow-right.png) center center no-repeat;
	position: relative;
}
.icon-arrow-bottom {
	background: url(../images/assets/icon-arrow-bottom.png) center center no-repeat;
	position: relative;
}
ul.big-padding {
	margin-bottom: 100px;
}
.rounded {
	border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.border {
	border-bottom: 1px $grey solid;
}
.nospace {
	margin-bottom: 0!important;
}
.minispace {
	margin-bottom: 5px;
}
.smallspace {
	margin-bottom: 13px;
}
.midspace {
	margin-bottom: 30px;
}
.bigspace {
	margin-bottom: 50px;
}
.hugespace {
	margin-bottom: 100px;
}
.greybg {
	background-color: $lightgrey;
}
.whitebox {
	background: #fff;
	padding: 15px;
}
.borderbox {
	border: 1px $grey solid;
	border-width: 0px;
}
.grid {
	background: url(../images/grid.png) repeat 0 0;
}
.text-middle {
	position: relative;
}
.text-middle img {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.img img {
	max-width: 100%;
	height: auto;
}
.barholder {
	width: 100%;
	float: left;
	position: relative;
}
.barholder .label {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	font-weight: 300;
	font-size: 100%;
	color: $bodytext;
	text-align: inherit;
}
.bar {
	height: 40px;
	line-height: 40px;
	background-color: $grey;
	border-radius: 20px;
	-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	overflow: hidden;
}
.bar span {
	margin: 0 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
}
.bar.purple {
	background-color: $purple;
}
.bar.green {
	background-color: $green;
}
.bar.blue {
	background-color: $blue;
}
.bar.pink {
	background-color: $pink;
}
.text-left-mobile {
	text-align: left;
}

/* Main Hero */
.main {
	background: #2B3439;
/* 	padding: 300px 0; */
	display: table;
	width: 100%;
	height: 1000px;
}
.holder {
	max-width: 1000px;
	margin: auto;
}
.logo {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}
.logo img {
	width: 100%;
}
.main .herobox {
	border-top: 1px rgba(255,255,255,.2) solid;
	border-bottom: 1px rgba(255,255,255,.2) solid;
	padding-top: 13px;
}
.main h1,
.main h2 {
	text-transform: uppercase;
	white-space: nowrap;
}
.main .container {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* PrintIO */
.printio {
	background-image: url(../images/PrintioHeroImage.png);
}

/* Value Chain Example */
.value-chain-example .img {
	width: 100%;
	height: 97px;
	margin-bottom: 45px;
}
.value-chain-example .whitebox {
	min-height: 325px;
	position: relative;
	margin-bottom: 10px;
}
.value-chain-example .whitebox .midspot {
	position: absolute;
	z-index: 10;
	right: -42px;
	top: 185px;
	display: none;
}
.value-chain-example .whitebox .midspot.onlymobile {
	right: 40%;
	bottom: -30px;
	top: inherit;
}

/* Initial Traction */
.initial-traction .img:nth-child(1) img {
	margin-top: 30px;
}
.initial-traction .img:nth-child(2) img {
	margin-top: 30px;
}
.initial-traction .img:nth-child(3) img {
	margin-top: 30px;
}

/* Market Size */
.market-size {
	.bar1,
	.bar2,
	.bar3,
	.bar4 {
		float: left;
	}
}
.market-size {
	.bar4 {
		margin-bottom: 60px;
	}
}

/* Competition */
.competition .table > thead > tr > td,
.competition .table > tbody > tr > td {
	font-size: 14px;
}
.competition .bar4 {
	float: left;
}
.pinkline {
	width: 30px;
	height: 2px;
	background: $pink;
	float: left;
	margin-top: 19px;
}
.pinkbox {
	background-color: $pink;
	color: #fff;
	padding: 7px;
	float: left;
	position: relative;
	bottom: 20px;
}

/* How We Connect */
.img-devices {
	margin-top: -40px;
}

/* Scalable Model */
.img-order-submission-engine {
	margin-top: 70px;
}
.img-image-processing-engine {
	margin-top: 60px;
}
.img-vendor-gateway {
	margin-top: 30px;
}
.img-accouting-automation-engine {
	margin-top: 60px;
}

/* Vendor Network */
.vendor-network {
	background: url(../images/assets/map.png) center 240px no-repeat;
}

/* Sales Process */
.sales-process .img {
	text-align: right;
}

/* HelloPics */
.hellopics {
	background-image: url(../images/PrintioHeroImage.png);
}

/* iOS and Android Apps */
.btn-appstore,
.btn-googleplay {
	display: inline-block;
	width: 185px;
	height: 54px;
	background: url("../images/assets/btn-appstore.png") no-repeat;
	float: none;
}
.btn-googleplay {
	background: url("../images/assets/btn-googleplay.png") no-repeat;
}

/* Investment Opportunity */
.investment-opportunity {
	background-image: url(../images/PrintioHeroImage.png);
}
.investment-opportunity .logo-holder {
	max-width: 550px;
}

/* Early Traction */
.early-traction .subtitle {
	font-size: 17px;
}

/* Current Team */
.current-team p {
	white-space: nowrap;
}

/* Appendix */
.appendix {
	background-image: url(../images/PrintioHeroImage.png);
}


/* Footer */
footer p {
	margin: 0;
}
